<template>
    <v-autocomplete
        :search-input.sync="search"
        :items="result"
        return-object
        outlined
        rounded
        background-color="#fff"
        hide-details
        placeholder="Пошук, Наприклад: Apple"
        item-text="2. name"
        @update:search-input="handleSearch"
        @change="addCompanyToList($event)"
    />
</template>

<script>
import { mapActions } from 'vuex';
import debounce from 'lodash.debounce';

export default {
    name: 'Search',

    data() {
		return {
			search: null,
            result: null,
		}
	},

    computed: {
        formattedSearchResult() {
            if (!this.result?.length) return [];

            return this.result.map(company => company['2. name']);
        }
    },

    methods: {
        ...mapActions({ 
            searchCompanies: 'searchCompanies',
            getStockBySymbol: 'getStockBySymbol'
        }),

        handleSearch: debounce(async function() {
            if (!this.search) return [];

            this.result = await this.searchCompanies(this.search);
        }, 500),

        async addCompanyToList(e) {
            if (!e) return;

            const symbol = e['1. symbol'];
            await this.getStockBySymbol(symbol);
            this.search = '';
        },
    },
};
</script>

<style>

</style>