<template>
  <Bar
    chart-id="dividends-chart"
    :chart-options="chartOptions"
    :chart-data="chartData"
    :dataset-id-key="datasetIdKey"
    class="mt-10"
    :height="height"
    :width="width"
  />
</template>

<script>
import { Bar } from 'vue-chartjs/legacy'

import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  BarElement,
  CategoryScale,
  LinearScale
} from 'chart.js'

ChartJS.register(Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale)

export default {
    name: 'BarGraph',

    components: { Bar },

    props: {
        datasetIdKey: {
            type: String,
            default: 'label'
        },
        width: {
            type: [String, Number],
            default: 100
        },
        height: {
            type: Number,
            default: 200
        },
        chartData: {
            type: Object,
            default: () => ({}),
        }
    },

    data() {
        return {
            chartOptions: {
                maintainAspectRatio: false
            }
        };
    },
}
</script>
