<template>
  <Bar
    v-if="activeStock"
    chart-id="dividends-chart"
    :chart-data="chartData"
    class="mt-10"
  />
</template>

<script>
import { mapState } from 'vuex';

export default {
    name: 'Dividends',

    components: {
        Bar: () => import('./BarGraph.vue'),
    },

    computed: {
        ...mapState({ 
			activeStock: 'activeStock',
		}),

        chartData() {
            const dividendsByActiveStock = this.activeStock.dividendsByEachYear;
            const labels = dividendsByActiveStock.map(({ year }) => year);
            const data = dividendsByActiveStock.map(({ dividendAmount }) => dividendAmount);

            return {
                labels,
                datasets: [{
                    label: `Дивіденди на акцію, $`,
                    backgroundColor: '#FF8A80',
                    data,
                }]
            }
        }
    }
}
</script>
