<template>
  <Bar
    v-if="activeStock"
    chart-id="dividends-chart"
    :chart-data="chartData"
    class="mt-10"
  />
</template>

<script>
import { mapState } from 'vuex';

export default {
    name: 'Earnings',

    components: {
        Bar: () => import('./BarGraph.vue'),
    },

    computed: {
        ...mapState({ 
			activeStock: 'activeStock',
		}),

        chartData() {
            const earnings = this.activeStock.earningsByEachQuarter;
            const labels = earnings.map(({ date }) => date);
            const data = earnings.map(({ value }) => value);

            return {
                labels,
                datasets: [{
                    label: `Прибуток за квартал, млн $`,
                    backgroundColor: '#009688',
                    data,
                }]
            }
        }
    }
}
</script>
