<template>
  <Bar
    v-if="activeStock"
    chart-id="dividends-chart"
    :chart-data="chartData"
    class="mt-10"
  />
</template>

<script>
import { mapState } from 'vuex';

export default {
    name: 'EPSChanging',

    components: {
        Bar: () => import('./BarGraph.vue'),
    },

    computed: {
        ...mapState({ 
			activeStock: 'activeStock',
		}),

        chartData() {
            const earningsGrowth = this.activeStock.earningsGrowth.epsByYears;
            const labels = earningsGrowth.map(({ fiscalDateEnding }) => fiscalDateEnding);
            const data = earningsGrowth.map(({ reportedEPS }) => reportedEPS);

            return {
                labels,
                datasets: [{
                    label: `Прибуток на акцію, $`,
                    backgroundColor: '#2196f3',
                    data,
                }]
            }
        }
    }
}
</script>
