<template>
    <StocksList
		v-if="formattedStocks && formattedStocks.length"
		:stocks="formattedStocks" 
	/>
</template>

<script>
import { mapActions, mapState } from 'vuex';

export default {
	name: 'Sidebar',

	components: {
		StocksList: () => import('./components/StocksList.vue'),
	},

	async created() {
		this.syncFavoritesWithState();
		await this.getFavoriteStocks();
	},

	methods: {
		...mapActions({ 
			getStockBySymbol: 'getStockBySymbol',
			syncStocksWithFavorites: 'syncStocksWithFavorites',
		}),

		async getFavoriteStocks() {
			for (const symbol of this.favorites) {
				await this.getStockBySymbol(symbol);
			}
		},

		syncFavoritesWithState() {
			const list = JSON.parse(localStorage.getItem('favorites'));

			if (!Array.isArray(list)) return;

			list.forEach(symbol => {
				const isFavoritesContainsSymbol = this.favorites.includes(symbol);

				if (!isFavoritesContainsSymbol) { 
					this.syncStocksWithFavorites({ symbol, action: 'add' })
				}
			});
		},
	},

	computed: {
		...mapState({ 
			stocks: 'stocks',
			favorites: 'favorites',
		}),

		formattedStocks() {
			return Object.values(this.stocks)
		},
	}
}
</script>