<template>
    <div class="details-current-ratio">
        <div class="d-flex mb-2">
            <span class="font-weight-bold">
                <span class="">
                    {{ ratio.title }} 
                </span>
                <span class="mr-1">
                    дорівнює 
                </span>
            </span>
            <RatioCell
                :value="ratio" 
                no-title
            />.
        </div>
        <div class="d-flex align-center">
            <div>
                {{ ratio.title }} 
            </div>
            <div class="mx-4">
                =
            </div>
                <span style="white-space: nowrap;">
                    &radic;<span style="text-decoration:overline;">&nbsp;
                        1.5 * 15 * прибуток на акцію ({{ componentsOfRatio.eps }}) * балансова вартість однієї акції ({{ componentsOfRatio.bookValuePerShare }})
                    &nbsp;</span>
                </span>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
    name: 'GrahamRatio',

    components: {
        RatioCell: () => import('@/global-components/RatioCell.vue'),
    },

    computed: {
        ...mapState({ 
			activeStock: 'activeStock',
		}),

        ratio() {
            return this.activeStock.ratios.find(({ key }) => key === 'GrahamNumber');
        },

        componentsOfRatio() {
            return { 
                eps: this.activeStock.overview.EPS,
                bookValuePerShare: this.activeStock.overview.BookValue,
                
            };
        }
    },
}
</script>