<template>
    <div class="details-current-ratio">
        <div class="d-flex mb-2">
            <span class="font-weight-bold">
                <span>
                    {{ ratio.title }} (вартість чистих активів компанії)
                </span>
                <span class="mr-1">
                    дорівнює 
                </span>
            </span>
            <RatioCell
                :value="ratio" 
                no-title
            />.
        </div>
        <div class="d-flex align-center">
            <div>
                {{ ratio.title }} 
            </div>
            <div class="mx-4">
                =
            </div>
            <div class="d-flex flex-column">
                <div>
                    кількість поточних активів ({{ componentsOfRatio.assets }}, млн) - кількість боргів ({{ componentsOfRatio.liabilities }}, млн)
                </div>
                <v-divider />
                <div class="d-flex justify-center">
                    кількість звичайних акцій ({{ componentsOfRatio.commonStock }}, млн)
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import { formatNumbersToMillions } from '@/api/helpers';

export default {
    name: 'GrahamRatio',

    components: {
        RatioCell: () => import('@/global-components/RatioCell.vue'),
    },

    computed: {
        ...mapState({ 
			activeStock: 'activeStock',
		}),

        ratio() {
            return this.activeStock.ratios.find(({ key }) => key === 'GrahamRatio');
        },

        componentsOfRatio() {
            const { 
                totalCurrentAssets, 
                totalLiabilities
            } = this.activeStock.balanceSheet.annualReports[0];

            const { SharesOutstanding } = this.activeStock.overview;

            return { 
                assets: formatNumbersToMillions(totalCurrentAssets), 
                liabilities: formatNumbersToMillions(totalLiabilities),
                commonStock: formatNumbersToMillions(SharesOutstanding),
            };
        }
    },
}
</script>