<template>
    <div class="details-overview">
        <div class="d-flex align-center">
            <h2 class="mr-2">{{ overview.Name }}</h2>
            <RatioCell 
                :value="price" 
                no-chip-margin
            />
        </div>
        <p>{{ mockedDescription }}</p>
    </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
    name: "DetailsOverview",

    components: {
        RatioCell: () => import('@/global-components/RatioCell.vue'),
    },

    data() {
        return {
            mockedDescription: 'Home Depot, Inc., широко відома як Home Depot, є найбільшим роздрібним продавцем товарів для дому в Сполучених Штатах, що постачає інструменти, будівельні товари та послуги. Штаб-квартира компанії розташована в окрузі Кобб, штат Джорджія, з поштовою адресою в Атланті.'
        }
    },

    computed: {
        ...mapState({ 
			activeStock: 'activeStock',
		}),

        overview() {
            return this.activeStock?.overview;
        },

        price() {
            const { price, lastRefreshed } = this.activeStock.lastUpdatedPrice;

            return {
                message: `Останнє оновлення ${lastRefreshed}`,
                ratio: `$${price}`,
                status: {
                    color: 'grey',
                    value: 'secondary'
                }
            }
        }
    },
}
</script>

<style>

</style>