<template>
    <div 
        class="stock-card pa-4"
        :class="{ 'stock-card--active': isActive }"
    >
        <div class="d-flex justify-space-between mb-3">
            <h2 class="subtitle-1 text-no-wrap text-truncate">
                {{ stock.name }}
            </h2>
            <div class="d-flex">
                <v-icon
                    class="cursor-pointer"
                    @click="handleAddStockToFavorites(stock.symbol)"
                >
                    {{ getFavoritesActionIcon(stock.symbol) }}
                </v-icon>
                <v-icon
                    class="cursor-pointer"
                    @click="removeStockFromList(stock.symbol)"
                >
                    mdi-delete
                </v-icon>
                <v-icon
                    class="cursor-pointer"
                    @click="setActiveStock(stock.symbol)"
                >
                    mdi-chevron-right
                </v-icon>
            </div>
        </div>
        <RatioCell 
            v-for="ratio in stock.ratios"
            :key="ratio.title"
            :value="ratio"
        />
    </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';

export default {
    name: 'StockCard',

    components: {
        RatioCell: () => import('@/global-components/RatioCell.vue'),
    },

    props: {
        stock: {
            type: Object,
            default: () => ({}),
        }
    },

    computed: {
        ...mapState({
            favorites: 'favorites',
            activeStock: 'activeStock',
        }),

        isActive() {
            return this.activeStock.symbol === this.stock.symbol;
        }
    },

    methods: {
        ...mapActions({ 
			removeStockFromList: 'removeStockFromList',
			setActiveStock: 'setActiveStock',
            syncStocksWithFavorites: 'syncStocksWithFavorites',
		}),

        handleAddStockToFavorites(symbol) {
			const isFavoritesContainSymbol = this.favorites.includes(symbol);
			const action = isFavoritesContainSymbol ? 'remove' : 'add';

			this.syncStocksWithFavorites({ symbol, action });
		},

        getFavoritesActionIcon(symbol) {
			const isFavoritesContainSymbol = this.favorites.includes(symbol);

			return isFavoritesContainSymbol ? 'mdi-star' : 'mdi-star-outline';
		},
    }
}
</script>

<style lang="scss">
@import '@/assets/variables.scss';
.stock-card {
    border: 1px solid #ccc;
    border-radius: 16px;

    &--active {
        border: 1px solid $primary-color;
    }
}
</style>