<template>
    <v-row  class="stocks-list mt-4">
		<v-col 
			v-for="stock in stocks"
			:key="stock.symbol"
			xl="6"
			lg="6"
			md="12"
		>
            <StockCard :stock="stock" />
		</v-col>
	</v-row>
</template>

<script>
import { mapActions } from 'vuex';

export default {
    name: 'StocksList',

    components: {
        StockCard: () => import('./StockCard.vue'),
    },

    props: {
        stocks: {
            type: Array,
            default: () => [],
        }
    },

    created() {
        this.handleSetActiveStock();
    },

    methods: {
        ...mapActions({ 
			setActiveStock: 'setActiveStock',
		}),

        handleSetActiveStock() {
            console.log(this.stocks.length);
            if (this.stocks.length) {
                const [ firstStock ] = this.stocks;
                console.log(firstStock.symbol);

				this.setActiveStock(firstStock.symbol);
			}
		}
    }
}
</script>

<style lang="scss">
@import '@/assets/variables.scss';
.stocks-list {
	min-height: calc(100vh - #{$header-height});
    align-content: baseline;
}
</style>