<template>
    <div 
        v-if="activeStock"
        class="details-view ma-10"
    >
        <v-row>
            <Overview />
            <CurrentRatio />
        </v-row>
        <v-row class="mb-10">
            <v-col cols="4">
                <Dividends class="mr-5" />
            </v-col>
            <v-col cols="4">
                <EPSChanging class="mr-5" />
            </v-col>
            <v-col cols="4">
                <Earnings />
            </v-col>
        </v-row>
        <v-row class="mb-10">
            <GrahamRatio />
        </v-row>
        <v-row>
            <GrahamNumber />
        </v-row>
    </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
    name: 'DetailsView',

    components: {
        Overview: () => import('@/layouts/details/components/Overview.vue'),
        CurrentRatio: () => import('@/layouts/details/components/CurrentRatio.vue'),
        Dividends: () => import('@/layouts/details/graphs/Dividends.vue'),
		EPSChanging: () => import('@/layouts/details/graphs/EPSChanging.vue'),
		Earnings: () => import('@/layouts/details/graphs/Earnings.vue'),
        GrahamRatio: () => import('@/layouts/details/components/GrahamRatio.vue'),
        GrahamNumber: () => import('@/layouts/details/components/GrahamNumber.vue'),
    },

    computed: {
        ...mapState({ 
			activeStock: 'activeStock',
		}),
    },
}
</script>