<template>
    <header class="header px-6">
        <v-row>
            <v-col cols="3">
                <Search />
            </v-col>
        </v-row>
    </header>
</template>

<script>
export default {
    name: 'Header',

    components: {
        Search: () => import('@/layouts/header/components/Search.vue'),
    }
}
</script>

<style lang="scss">
@import '@/assets/variables.scss';

.header {
    display: flex;
    align-items: center;;
    height: $header-height;
    background-color: $primary-color;
}
</style>