<template>
	<v-app class="mx-6">
		<Header />
		<div class="general-layout mx-6">
			<v-row>
				<v-col 
					cols="4"
					class="d-flex"
				>
					<StocksList class="mr-5"/>
					<v-divider
						color="#e0e0e0"
						vertical 
					/>
				</v-col>
				<v-col cols="8">
					<DetailsView />
				</v-col>
			</v-row>
		</div>
	</v-app>
</template>

<script>
export default {
  	name: 'App',
	components: {
		Header: () => import('@/layouts/header'),
		StocksList: () => import('@/layouts/sidebar'),
		DetailsView: () => import('@/layouts/details'),
	},
};
</script>