<template>
    <v-tooltip
        nudge-top
        top
    >
        <template #activator="{ on, attrs }">
            <div 
                class="d-flex align-center justify-space-between"
                :class="{ 'mb-1': !noChipMargin }"
            >
                <div 
                    v-if="!noTitle"
                    class="ratio-cell__title"
                >
                    {{ value.title }}
                </div>
                <v-chip
                    v-if="value.status"
                    :color="value.status.color"
                    text-color="white"
                    v-bind="attrs"
                    v-on="on"
                    small
                >
                    {{ value.ratio }}
                </v-chip>
            </div>
        </template>
        <span>
            {{ value.message }}
        </span>
    </v-tooltip>
</template>

<script>
export default {
    name: 'RatioCell',

    props: {
        value: {
            type: Object,
            default: () => ({})
        },

        noChipMargin: {
            type: Boolean,
            default: false,
        },

        noTitle: {
            type: Boolean,
            default: false,
        },
    },
};
</script>

<style lang="scss">
.ratio-cell {
    &__title {
        font-size: 14px;
    }
}
</style>